<section id="logIn" class="overlay">
    <form onsubmit="requiredInput();return false">
      <div><h1>Log in</h1></div>
      <div id="underline"></div>
      <div class="input_fields">          
          <div class="input_value">
            <input
            type="text"
            placeholder="Email"
            id="emailLogIn"
            onfocusin="selectField(id)"
            onfocusout="unselectField(id)"
            />
            <img src="./img/mail.svg" alt="" />
          </div>
          <div class="required" id="requiredEmail"></div>
        <div class="input_value">
          <input
            type="password"
            placeholder="Password"
            id="passwordLogIn"
            oninput="changeImagePw()"
            onfocusin="selectField(id)"
            onfocusout="unselectField(id)"
          />
          <button id="btnShowPwLogIn" onclick="showPassword()" type="button" disabled="true"><img id="showPw" src="./img/lock.svg" alt=""/></button>
        </div>
        <div class="required" id="requiredPassword"></div>
        <div class="check_item">
          <button
            type="button"
            name="remember"
            id="remember"
            class="checkbox"
            onclick="checkRemember()">
            <img src="./img/Property 1=Default.svg" alt=""/>
          </button>
          <label for="remember" class="fs">Remeber me</label>
        </div>
      </div>

      <div class="btn_submit">
        <button
          type="submit"
          class="button_dark btn_login"
        >
          Log in
        </button>
        <button
          onclick="guestLogIn()"
          type="button"
          class="button_bright btn_login"
        >
          Guest Log in
        </button>
      </div>
    </form>
  </section>
  <section>
    <div class="sign_up" id="signUpRespo">
      <span>Not a Join user?</span>
      <button class="button_dark btn_signup" onclick="openSignUp()">
        sign up
      </button>
    </div>
  </section>