@import "./../../../../assets/styles/mixins.scss";

.board-header {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  .board-header_search {
    display: flex;
    max-height: 50px;
    gap: 30px;
    .search-icon {
      margin-left: 20px;
      cursor: pointer;
    }

    > button {
      white-space: nowrap;
      gap: 10px;
    }
  }
}

.board {
  max-width: 1400px;
  @include arrangement($jc: space-between, $g: 20px);
  .board-content {
     .board-content_header {
      @include arrangement($jc: space-between);
    }
    .btn-add-task {
      border: 2px solid black;
      border-radius: 5px;
      width: 24px;
      height: 24px;
      @include arrangement();
      &:hover{
        cursor: pointer;
        border-color: #29ABE2;
        filter: invert(58%) sepia(28%) saturate(1464%) hue-rotate(158deg) brightness(96%) contrast(83%);
      }
    }
    .no-task{
        background-color: #E7E7E7;
        border: 1px dotted #A8A8A8;
        color: #A8A8A8;
        border-radius: 10px;
        width: 240px;
        padding: 20px;
        text-align: center;
    }
  }
}
