@import "./../../../../assets/styles/mixins.scss";

.board-header {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  .board-header_search {
    display: flex;
    max-height: 50px;
    gap: 30px;
    .search-icon {
      margin-left: 20px;
      cursor: pointer;
    }

    > button {
      white-space: nowrap;
      gap: 10px;
    }
  }
}

.board {
  max-width: 1400px;
  @include arrangement($jc: space-between, $g: 20px);
  .board-content {
    .board-content_header {
      @include arrangement($jc: space-between);
    }
    .btn-add-task {
      border: 2px solid black;
      border-radius: 5px;
      width: 24px;
      height: 24px;
      @include arrangement();
      &:hover {
        cursor: pointer;
        border-color: #29abe2;
        filter: invert(58%) sepia(28%) saturate(1464%) hue-rotate(158deg)
          brightness(96%) contrast(83%);
      }
    }
    .no-task {
      background-color: #e7e7e7;
      border: 1px dotted #a8a8a8;
      color: #a8a8a8;
      border-radius: 10px;
      width: 240px;
      padding: 20px;
      text-align: center;
    }
  }
}

.card {
  background-color: white;
  padding: 16px;
  border-radius: 24px;
}

.category-headline {
  padding: 4px 16px;
  color: white;
  width: max-content;
  border-radius: 10px;
  &--technicaltask {
    @extend .category-headline;
    background-color: #1FD7C1;
  }
  &--userstory {
    @extend .category-headline;
    background-color: #0038FF;
  }
}
