 <div class="board-header">
  <h1>Board</h1>
  <div class="board-header_search">
    <div class="input-field">
      <input type="text" placeholder="Find Task" (input)="filterTasks()" [(ngModel)]="searchQuery"/>
      <div class="separator"></div>
      <img class="search-icon" src="img/board/search.svg" alt="" />
    </div>
    
    <button class="btn-primary--default" (click)="openAddTask('todo')">
      <span class="btn-text">Add task</span> <img src="img/board/add.svg" alt="" />
    </button>
  </div>
</div>

<div class="board">
  <div class="board-content">
    <div class="board-content_header">
      <h2>To do</h2>
      <button class="btn-add-task" (click)="openAddTask('todo')">
        <img src="img/plus.svg" alt="plus" />
      </button>
    </div>
    <div class="no-task" *ngIf="tasksTodo.length == 0">
      No tasks To do
    </div>
    <div class="board-content_cards"
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="tasksTodo"
    [cdkDropListConnectedTo]="[inProgressList, AwaitFeedbackList, DoneList]"
    (cdkDropListDropped)="drop($event)">
    <div *ngFor="let task of tasksTodo let i=index " class="card" (click)="openDetailCard('tasksTodo', i)" cdkDrag [cdkDragStartDelay]="100">
      <div class="category-headline--{{task.category.toLocaleLowerCase().split(' ').join('')}}">{{task.category}}</div>
      <h4>{{task.title}}</h4>
      <div class="task-description">{{task.description}}</div>
      <div class="progress-subtaks" *ngIf="task.subtasks.length > 0">
        <mat-progress-bar  [value]="getProgress(task)"></mat-progress-bar>
        <div class="progress-subtaks_status">
          {{ getCompletedSubtasks(task) }} /{{task.subtasks.length}} Subtasks 
        </div>
      </div>
      <div class="contact-priority">
        <div class="shortcuts">
        <div *ngFor="let contact of task.assignedTo let i=index" 
             class="shortcut--small" 
             [style.backgroundColor]="contact.color" 
             [style.transform]="'translateX(' + (-10 * i) + 'px)'"
        >
          {{contact.shortcut}}
        </div>
        </div>
        <img src="img/add_task/{{task.prio.toLocaleLowerCase()}}.svg" alt="">
      </div>
    </div>
  
  </div>
   
  </div>
  <div class="board-content">
    <div class="board-content_header">
      <h2>In progress</h2>
      <button class="btn-add-task" (click)="openAddTask('inProgress')">
        <img src="img/plus.svg" alt="plus" />
      </button>
    </div>
    <div class="no-task" *ngIf="tasksInProgress.length == 0">
      no Task To do
  </div>
    <div class="board-content_cards"
         cdkDropList
         #inProgressList="cdkDropList"
         [cdkDropListData]="tasksInProgress"
         [cdkDropListConnectedTo]="[todoList, AwaitFeedbackList, DoneList]"
         (cdkDropListDropped)="drop($event)"
    >
      <div *ngFor="let task of tasksInProgress let i=index " class="card" (click)="openDetailCard('tasksInProgress',i)" cdkDrag [cdkDragStartDelay]="100">
        <div class="category-headline--{{task.category.toLocaleLowerCase().split(' ').join('')}}">{{task.category}}</div>
        <h4>{{task.title}}</h4>
        <div class="task-description">{{task.description}}</div>
        <div class="progress-subtaks" *ngIf="task.subtasks.length > 0">
          <mat-progress-bar  [value]="getProgress(task)"></mat-progress-bar>
          <div class="progress-subtaks_status">
            {{ getCompletedSubtasks(task) }} /{{task.subtasks.length}} Subtasks 
         </div>
        </div>
        <div class="contact-priority">
          <div class="shortcuts">
          <div 
              *ngFor="let contact of task.assignedTo let i=index" 
              [style.transform]="'translateX(' + (-10 * i) + 'px)'"
              class="shortcut--small" 
              [style.backgroundColor]="contact.color" 
          >
                {{contact.shortcut}}
          </div>
        </div>
          <img src="img/add_task/{{task.prio.toLocaleLowerCase()}}.svg" alt="">
        </div>
      </div>
    </div>
 
  </div>
  <div class="board-content">
    <div class="board-content_header">
      <h2>Await feedback</h2>
      <button class="btn-add-task" (click)="openAddTask('feedback')">
        <img src="img/plus.svg" alt="plus" />
      </button>
    </div>
    <div class="no-task" *ngIf="tasksAwaitFeedback.length == 0">
      no Task To do
  </div>
    <div class="board-content_cards"
        cdkDropList
        #AwaitFeedbackList="cdkDropList"
        [cdkDropListData]="tasksAwaitFeedback"
        [cdkDropListConnectedTo]="[todoList, inProgressList, DoneList]"
        (cdkDropListDropped)="drop($event)"
    >
      <div *ngFor="let task of tasksAwaitFeedback let i=index " class="card" (click)="openDetailCard('tasksAwaitFeedback',i)" 
            cdkDrag 
            [cdkDragStartDelay]="100">
        <div class="category-headline--{{task.category.toLocaleLowerCase().split(' ').join('')}}">{{task.category}}</div>
        <h4>{{task.title}}</h4>
        <div class="task-description">{{task.description}}</div>
        <div class="progress-subtaks" *ngIf="task.subtasks.length > 0">
          <mat-progress-bar  [value]="getProgress(task)"></mat-progress-bar>
          <div class="progress-subtaks_status">
            {{ getCompletedSubtasks(task) }} /{{task.subtasks.length}} Subtasks 
          </div>
        </div>
        <div class="contact-priority">
          <div class="shortcuts">
          <div 
              *ngFor="let contact of task.assignedTo let i=index" 
              [style.transform]="'translateX(' + (-10 * i) + 'px)'"
              class="shortcut--small" 
              [style.backgroundColor]="contact.color" 
          >
                {{contact.shortcut}}
          </div>
        </div>
          <img src="img/add_task/{{task.prio.toLocaleLowerCase()}}.svg" alt="">
        </div>
      </div>
    </div>
    
  </div>
  <div class="board-content">
    <div class="board-content_header">
      <h2>Done</h2>
    </div>
    <div class="no-task" *ngIf="tasksDone.length == 0">
      no Task To do
    </div>
    <div class="board-content_cards"
         cdkDropList
         #DoneList="cdkDropList"
         [cdkDropListData]="tasksDone"
         [cdkDropListConnectedTo]="[todoList,inProgressList, AwaitFeedbackList]"
         (cdkDropListDropped)="drop($event)"
    >
      <div *ngFor="let task of tasksDone let i=index " class="card" (click)="openDetailCard('tasksDone',i)" cdkDrag [cdkDragStartDelay]="100">
        <div class="category-headline--{{task.category.toLocaleLowerCase().split(' ').join('')}}">{{task.category}}</div>
        <h4>{{task.title}}</h4>
        <div class="task-description">{{task.description}}</div>
        <div class="progress-subtaks" *ngIf="task.subtasks.length > 0">
          <mat-progress-bar  [value]="getProgress(task)"></mat-progress-bar>
          <div class="progress-subtaks_status">
            {{ getCompletedSubtasks(task) }} /{{task.subtasks.length}} Subtasks 
          </div>
        </div>
        <div class="contact-priority">
          <div class="shortcuts">
          <div 
              *ngFor="let contact of task.assignedTo let i=index" 
              [style.transform]="'translateX(' + (-10 * i) + 'px)'"
              class="shortcut--small" 
              [style.backgroundColor]="contact.color" 
          >
                {{contact.shortcut}}
          </div>
        </div>
          <img src="img/add_task/{{task.prio.toLocaleLowerCase()}}.svg" alt="">
        </div>
      </div>
    </div>
    
  </div>
</div>
<div class="add-task" (click)="showAddTask=false" *ngIf="showAddTask">
<app-add-task [board]="true" [status]="'todo'" (hideAddTask)="showAddTask = false"   (click)="$event.stopPropagation()"></app-add-task>
</div>

<div
  class="add-task"
  (click)="showAddTask = false"
  *ngIf="showAddTask"
>
  <app-add-task
    [board]="true"
    [status]="status"
    (hideAddTask)="showAddTask = false"
    (click)="$event.stopPropagation()"
  ></app-add-task>
</div>

<div 
  class="task-details"
  *ngIf="showTaskDetails"
  (click)="showTaskDetails = false"
>
  <app-task-detail
  (reloadBoard)="getTasks()"
  (hideDetails)="showTaskDetails = false" 
  (click)="$event.stopPropagation()"
  [chosenTask]="chosenTask"></app-task-detail>
</div>
