<div class="board-header">
  <h1>Board</h1>
  <div class="board-header_search">
    <div class="input-field">
      <input type="text" placeholder="Find Task" />
      <div class="separator"></div>
      <img class="search-icon" src="img/board/search.svg" alt="" />
    </div>
    <button class="btn-primary--default">
      Add task <img src="img/board/add.svg" alt="" />
    </button>
  </div>
</div>

<div class="board">
  <div class="board-content">
    <div class="board-content_header">
      <h2>To do</h2>
      <button class="btn-add-task">
        <img src="img/plus.svg" alt="plus" />
      </button>
    </div>
    <div *ngFor="let task of tasks let i=index " class="card">
      <div class="category-headline--{{task.category.toLocaleLowerCase().split(' ').join('')}}">{{task.category}}</div>
      <div class="task-title">{{task.title}}</div>
      <div class="task-description">{{task.description}}</div>
      <div class="progress-subtaks">
        <mat-progress-bar value="0"></mat-progress-bar>
        <div>0/{{task.subtasks.length}} Subtasks </div>
      </div>
      <div class="contact-priority">
        <div *ngFor="let contact of task.assignedTo let i=index" >
          {{contact.shortcut}}
        </div>
        <img src="img/add_task/{{task.prio.toLocaleLowerCase()}}.svg" alt="">
      </div>
    </div>
    <div class="no-task" >
        No tasks To do
    </div>
  </div>
  <div class="board-content">
    <div class="board-content_header">
      <h2>In progress</h2>
      <button class="btn-add-task">
        <img src="img/plus.svg" alt="plus" />
      </button>
    </div>
    <div class="no-task">
        no Task To do
    </div>
  </div>
  <div class="board-content">
    <div class="board-content_header">
      <h2>Await feedback</h2>
      <button class="btn-add-task">
        <img src="img/plus.svg" alt="plus" />
      </button>
    </div>
    <div class="no-task">
        no Task To do
    </div>
  </div>
  <div class="board-content">
    <div class="board-content_header">
      <h2>Done</h2>
    </div>
    <div class="no-task">
        no Task To do
    </div>
  </div>
</div>
