<div class="edit-header" (click)="closeCotactList()">
    <button (click)="closeDetails()">
      <img src="img/add_task/close.svg" alt="" />
    </button>
  </div>
  <form class="edit-content" [formGroup]="editTaskForm" (ngSubmit)="updateTask()" (click)="closeCotactList()">  
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" name="title" class="input-field" formControlName="title"/>
      <label for="description">Description</label>
      <textarea name="description" id="description" formControlName="description"  class="input-field"></textarea>
      <label for="dueDate">Due date</label>
      <mat-form-field appearance="fill" class="input-field--nopadding"> 
         <mat-label>DD/MM/YYYY</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          id="dueDate"
          formControlName="dueDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
       </mat-form-field> 
       <label for="priority"><b>Priority</b></label>
       <app-priority formControlName="priority" [chosenPrio]="chosenPrio"></app-priority>
      <label for="assigned">Assigend To</label>
      <div 
        class="input-field contact-field"
        (click)="$event.stopPropagation()">
        <input
          (focus)="showContactList = true"
          type="text"
          id="assigned"
          placeholder="Select contacts to assign"
          class="font-black"
          #assingedInput
          (keyup)="filterContacts(assingedInput.value)"
        />
        <button type="button" (click)="toggleContactList()"> 
          <img  [src]="'img/add_task/arrow_drop_down.svg'" [ngClass]="{ 'rotated': showContactList }" alt=""/>
        </button>
       
        <div *ngIf="showContactList" class="contact-list">
          <ul *ngFor="let contact of filteredContacts let i = index" >
            <li 
              class="single-contact" 
              [ngClass]="{'single-contact--chosen' : chosen[i] }" 
              (click)="chooseContact(contact.name, contact.color, contact.id, i, contact.shortcut)" >
              <div>
                <span class="shortcut--small" [style.backgroundColor]="contact.color">{{contact.shortcut }}</span> 
                <span>{{contact.name}}</span>
              </div>
              <img [src]="(chosen[i]) ? 'img/add_task/check_button_checked.svg' : 'img/add_task/check_button.svg'" alt="">
            </li>
          </ul>
        </div>
      </div>
      <div class="chosen-contacts">
        <ul *ngFor="let chosenContact of assignedTo.value">
          <li class="list-item"> 
            <span class="shortcut--small" [style.backgroundColor]="chosenContact.color">{{ chosenContact.shortcut }}</span> 
            <span>{{chosenContact.name}}</span></li>
        </ul>
      </div>
      <label for="subtasks">Subtasks</label>
      <div class="subtask">
        <div  class="input-field">
          <input
            type="text"
            id="subtasks"
            placeholder="Add new subtask"
            #subtasksInput
          />
          <img class="add-subtask" (click)="addSubtask(subtasksInput)" src="img/plus.svg" alt="">
        </div>
       
        <div  class="subtask-list">
         <ul *ngFor="let subtask of subtasks.value let i=index">
            <li>
             <div class="subtask-list_item">
              <span>{{subtask.title}}</span>
              <div>
                <button type="button" (click)="editSubtask(i)"><img src="img/edit.svg" alt=""></button>
                <button type="button" (click)="deleteSubtask(i)"><img src="img/delete.svg" alt=""></button>
              </div>
             </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <button class="btn-primary--default submit-edit" type="submit">OK</button>
  </form>

