<div class="prio">
      <div class="btn-prio">
      <button
        type="button"
        (click)="setPriority('Urgent')"
        [ngClass]="{ urgent: chosenPrio === 'Urgent' }">
        Urgent
        <img [src]="chosenPrio === 'Urgent' ? 'img/add_task/urgent_white.svg' : 'img/add_task/urgent.svg'" alt=""/>
      </button>

      <button
        type="button"
        (click)="setPriority('Medium')"
        [ngClass]="{ medium: chosenPrio === 'Medium' }">
        Medium
        <img [src]="chosenPrio === 'Medium' ? 'img/add_task/medium_white.svg' : 'img/add_task/medium.svg'" alt=""/>
      </button>

      <button
        type="button"
        (click)="setPriority('Low')"
        [ngClass]="{ low: chosenPrio === 'Low' }">
        Low
        <img [src]="chosenPrio === 'Low' ? 'img/add_task/low_white.svg' : 'img/add_task/low.svg'" alt=""/>
      </button>
    </div>
</div>
