<div class="contacts-sidebar">
  <button class="btn-primary--default" (click)="showEditField(false)">
    <span>Add new contact</span> <img src="img/person_add.svg" alt="" />
  </button>
  <div class="contacts-list" #contactList>
    <div *ngFor="let contact of userDatas.contactsList; let i = index"
        [id]="'contact' + contact.id">
      <div
        class="contacts-list-separator"
        *ngIf="contactFirstLetters[i] !== ''"
      >
        <span>{{ contactFirstLetters[i] }}</span>
      </div>
      <div
        class="contacts-list_contact"
        (click)="showDetailContact(i)"
        [class.chosen]="chosen === i"
      >
        <div class="shortcut--small" [style.backgroundColor]="contact.color">
          {{ contact.shortcut }}
        </div>
        <div class="contacts-list_info">
          <div class="contacts-list_info-name">{{ contact.name }}</div>
          <div class="contacts-list_info-email">{{ contact.email }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contacts-details" *ngIf="showDetails">
  <div class="contacts-details_header" >
    <h1>Contacts</h1>
    <div class="separator--blue"></div>
    <span>Better with a team</span>
    <button (click)="showDetails = false" class="btn-responsive">X</button>
  </div>
  <div class="contacts-details_content" *ngIf="chosenContact">
    <div class="content_menu">
      <div class="shortcut--big" [style.backgroundColor]="chosenContact.color">
        {{ chosenContact.shortcut }}
      </div>
      <div>
        <h3>{{ chosenContact.name }}</h3>
        <div class="menu_buttons">
          <button (click)="showEditField(true)"><img src="img/edit.svg" alt="pen" /> Edit</button>
          <button (click)="deleteContact()"><img src="img/delete.svg" alt="delete" /> Delete</button>
        </div>
      </div>
    </div>
    <span class="contact-information">Contact Information</span>
    <div class="contact-links">
      <span>Email</span>
      <a href="mailto:{{ chosenContact.email }}">{{ chosenContact.email }}</a>
    </div>
    <div class="contact-links">
      <span>Phone</span>
      <a href="tel:{{ chosenContact.phone }}">{{ chosenContact.phone }}</a>
    </div>
  </div>
</div>

<app-edit-contact
  *ngIf="showEdit"
  [class.slide-out]="hideAnimation"
  (click)="closeEdit()"
  [chosenContact]="chosenContact"
  [editMode]="editMode"
></app-edit-contact>
