@import "./../../../../assets/styles/mixins.scss";

header {
  width: 100%;
  min-height: 5rem;
  @include arrangement($jc: end);
}

.gap {
  display: flex;
  gap: 30px;
  align-items: center;
}
.logo-bg {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  animation: remove 1s 0.5s forwards;
  
}

@keyframes remove {
  0%{opacity: 1;}
  50%{opacity: 0;}
  100%{
    z-index: -100;
    opacity: 0;
    }
}


.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(3);
  animation: greetingScreen 0.5s 0.5s linear forwards;
  width: 80px;
}

@keyframes greetingScreen {
  0% {
    transform: scale(3);
  }
  100% {
    top: 40px;
    left: 40px;
    transform: scale(1);
  }
}

main {
  @include arrangement($fd: column, $jc: space-between);
  min-height: 100vh;
  padding: 24px 32px;
  box-sizing: border-box;
}

section {
  @include arrangement($fd: column, $g: 24px);
  background-color: white;
  padding: 48px 88px;
  box-sizing: border-box;
  border-radius: 30px;
  form {
    @include arrangement($fd: column);
  }
}

h1 {
  font-size: clamp(1rem, 2rem, 48px);
}

.underline {
  margin-top: 8px;
  height: 3px;
  background-color: #29abe2;
  width: 100%;
}

.btns-log-in {
  @include arrangement($g: 24px);
}

.footer {
  @include arrangement();
}

.empty-label {
  min-height: 24px;
  width: 100%;
}

.error-label {
  color: red;
  font-size: 10px;
  min-height: 24px;
  width: 100%;
  margin-left: 10px;
}

.remember-me{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  >button{
    cursor: pointer;
  }
  
}

.footer {
  display: flex;
  gap: 24px;
  a {
    color: #a8a8a8;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: $mediaWidth) {
  header{
    min-height: 2rem;
  }
  section{
    padding: 8px 10px ;
    width: 100vw;
  }
  main{
    padding: 0;
  }
  .logo{
    width: 40px;
  }
}