<main>
  <div class="logo-bg" ></div>
  <header>
    <img class="logo" src="img/join_logo_header.svg" alt="">
    <div class="gap">
      <span>Not a Join user?</span>
      <button class="btn-primary--default" [routerLink]="['sign_in']">Sign up</button>
    </div>
  </header>
  <section>
    <div>
      <h1>Log In</h1>
      <div class="underline"></div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-field">
        <input
          id="email"
          formControlName="email"
          type="email"
          placeholder="email"
        />
        <img src="img/mail.svg" alt="mail" />
      </div>

      @if (loginForm.get('email')?.errors?.['required'] && loginForm.touched) {
      <label for="email" class="error-label">This field is required</label>
      } @else if(loginForm.get('email')?.errors?.['pattern'] &&
      loginForm.touched){
      <label for="email" class="error-label"
        >please insert a valid email (example&#64;your-email.com)</label
      >
      }   
      @else(){
      <label for="email" class="empty-label"></label>
      }

      <div class="input-field">
        <input
          id="password"
          formControlName="password"
          type="password"
          placeholder="password"
        />
        <img src="img/lock.svg" alt="password" />
      </div>

      @if (loginForm.get('password')?.errors?.['required'] && loginForm.touched)
      {
      <label for="password" class="error-label">This field is required</label>
      } @else if (loginForm.get('password')?.errors?.['minlength'] &&
      loginForm.touched) {
      <label for="password" class="error-label">min length 6</label>
      }@else if (logInFailed) {
        <label for="email" class="error-label"
        >wrong email or password</label>
      } @else(){
      <label for="password" class="empty-label"></label>
      }

      <div class="btns-log-in">
        <button class="btn-primary--default" type="submit">Log in</button>
        <button class="btn-secondary--default" type="button">
          Guest Log in
        </button>
      </div>
    </form>
  </section>
  <div class="footer">
    <a [routerLink]="['main/privacy_policy']">Privacy Policy</a>
    <a [routerLink]="['main/legal_notice']">Legal notice</a>
  </div>
</main>
