<div class="details-header">
    <span class="category-headline--userstory">hi</span>
    <button (click)="closeDetails()"><img src="img/add_task/close.svg" alt=""></button>
</div>

<div class="details-content">
    <h1>titel</h1>
    <div>description</div>
    <div>
        <span class="field-name">Due date:</span>
        <div>Date</div>
    </div>
    <div>
        <span>Priority:</span>
        <div>Mediuim <img src="img/add_task/medium.svg" alt=""></div>
    </div>
    <div>
        <span>Assigend To:</span>
        <ul>
            <li>
                <div class="shortcut--small">EM</div>
                <span>Emmanuel Mauer</span>
            </li>
        </ul>
    </div>
    <div>
        <span>Subtasks</span>
        <ul>
            <li>
                <img src="img/Property Default.svg" alt="">
                <span>text</span>
            </li>
        </ul>
    </div>
</div>
<div class="details-footer">
    <button>Delete</button>
    <div class="separator"></div>
    <button>Edit</button>
</div>
