<div *ngIf="detailsContent" class="detail-task">
  <div class="details-header">
    <span class="category-headline--{{chosenTask.category.toLocaleLowerCase().split(' ').join('')}}">{{chosenTask.category}}</span>
    <button (click)="closeDetails()">
      <img src="img/add_task/close.svg" alt="" />
    </button>
  </div>

  <div class="details-content">
    <h1>{{chosenTask.title}}</h1>
    <div class="details-text">{{chosenTask.description}}</div>
    <div class="details-field">
      <label class="field-name">Due date:</label>
      <div>{{convertDate(chosenTask.dueDate)}}</div>
    </div>
    <div class="details-field">
      <label class="field-name">Priority:</label>
      <div class="detail-prio">{{chosenTask.prio}} <img src="img/add_task/{{chosenTask.prio.toLocaleLowerCase()}}.svg" alt="" /></div>
    </div>
    <div>
      <label class="field-name">Assigend To:</label>
      <ul *ngFor="let contact of chosenTask.assignedTo let i = index">
        <li>
          <div class="shortcut--small" [style.backgroundColor]="contact.color">{{contact.shortcut}}</div>
          <span>{{contact.name}}</span>
        </li>
      </ul>
    </div>
    <div>
      <label>Subtasks</label>
      <ul *ngFor="let subtask of chosenTask.subtasks let i = index">
        <li>
          <img [src]="subtask.complete ? 'img/Property checked.svg' : 'img/Property Default.svg' " alt="" />
          <span>{{subtask.title}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="details-footer">
    <button (click)="deleteTask()"> <img src="/img/delete.svg" alt=""> Delete</button>
    <div class="separator"></div>
    <button (click)="showEditMode()"> <img src="/img/edit.svg" alt=""> Edit</button>
  </div>
</div>

<div *ngIf="editDetails" style="height: 100%;">
  <app-edit-task [chosenTask]="chosenTask" (hideDetails)="closeDetails()"></app-edit-task>
</div>
