@import "./../board.component.scss";

.detail-task {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.details-header {
  @include arrangement($jc: space-between);
}

.details-content {
  flex: 1;
}

.details-footer {
  display: flex;
  width: 100%;
  justify-content: end;
}

.btn-prio {
    display: flex;
    gap: 10px;
    .medium {
      background-color: #ffa800;
      color: white;
    }
    .urgent {
      background-color: #ff3d00;
      color: white;
    }
    .low {
      background-color: #7ae229;
      color: white;
    }
    > button {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      min-width: 140px;
      font-size: 20px;
      padding: 16px 10px;
      box-sizing: border-box;
      border-radius: 10px;
      background-color: #ffffff;
      &:hover {
        box-shadow: 0 4px 4px #00000040;
        cursor: pointer;
      }
    }
  }