<div class="headline">
  <h1>Join 360</h1>
  <div class="headline_separator"></div>
  <span>Key Metrics at a Glance</span>
</div>
<div class="content">
  <div class="content_cards">
    <div class="content_cards_row">
      <div [routerLink]="'/main/board'" [queryParams]="{ UID: userDataService.currentUserID }"  (mouseover)="hoverd1=true" (mouseleave)="hoverd1=false" class="content_single-card--short">
        <img [src]=" hoverd1 ? 'img/pencil_bright.svg' : 'img/pencil.svg'" alt="" />
        <div>
          <h2>{{taskAmount.todo}}</h2>
          <span>To-Do</span>
        </div>
      </div>
      <div [routerLink]="['/main/board']" [queryParams]="{ UID: userDataService.currentUserID }"  (mouseover)="hoverd2=true" (mouseleave)="hoverd2=false" class="content_single-card--short">
        <img [src]=" hoverd2 ? 'img/done_bright.svg' : 'img/done.svg' " alt="" />
        <div>
          <h2>{{taskAmount.done}}</h2>
          <span>Done</span>
        </div>
      </div>
    </div>
    <div [routerLink]="['/main/board']" [queryParams]="{ UID: userDataService.currentUserID }" class="content_single-card--long" >
      <div class="urgent_status">
        <img src="img/urgent-arrow.svg" alt="" />
        <div>
          <h2>{{taskAmount.urgent}}</h2>
          <span>Urgent</span>
        </div>
      </div>
      <div class="urgent-separator"></div>
      <div class="urgent_date">
        <span class="date">{{urgentDate}}</span>
        <span class="normal-text">Upcoming Deadline</span>
      </div>
    </div>
    <div class="content_cards_row">
      <div class="content_single-card--short" [routerLink]="['/main/board']" [queryParams]="{ UID: userDataService.currentUserID }">
        <div>
          <h2>{{taskAmount.additional}}</h2>
          <span>Tasks in Board</span>
        </div>
      </div>
      <div class="content_single-card--short" [routerLink]="['/main/board']" [queryParams]="{ UID: userDataService.currentUserID }">
        <div>
          <h2>{{taskAmount.inProgress}}</h2>
          <span>Tasks In Progress</span>
        </div>
      </div>
      <div class="content_single-card--short" [routerLink]="['/main/board']" [queryParams]="{ UID: userDataService.currentUserID }">
        <div>
          <h2>{{taskAmount.feedback}}</h2>
          <span>Awaiting Feedback</span>
        </div>
      </div>
    </div>
  </div>
  <div class="content_greeting">
    <div>
      <h3>{{greetingText}}</h3>
      <h4>{{greetingName}}</h4>
    </div>
  </div>
</div>
