<div class="headline">
  <h1>Join 360</h1>
  <div class="headline_separator"></div>
  <span>Key Metrics at a Glance</span>
</div>
<div class="content">
  <div class="content_cards">
    <div class="content_cards_row">
      <div class="content_single-card">
        <img src="img/pencil.svg" alt="" />
        <div>
          <h2>2</h2>
          <span>To-Do</span>
        </div>
      </div>
      <div class="content_single-card">
        <img src="img/done.svg" alt="" />
        <div>
          <h2>2</h2>
          <span>Done</span>
        </div>
      </div>
    </div>
    <div class="content_single-card">
      <img src="img/urgent-arrow.svg" alt="" />
      <div>
        <h2>1</h2>
        <span>Urgent</span>
      </div>
      <div class="urgent-separator"></div>
      <div>
        <span class="date">October 18, 2024</span>
        <span class="normal-text">Upcoming Deadline</span>
      </div>
    </div>
    <div class="content_cards_row">
      <div class="content_single-card">
        <div>
          <h2>2</h2>
          <span>Tasks in Board</span>
        </div>
      </div>
      <div class="content_single-card">
        <div>
          <h2>2</h2>
          <span>Tasks In Progress</span>
        </div>
      </div>
      <div class="content_single-card">
        <div>
          <h2>2</h2>
          <span>Awaiting Feedback</span>
        </div>
      </div>
    </div>
  </div>
  <div class="content_greeting">
    <div>
      <h2>Good morning</h2>
      <h3>Name</h3>
    </div>
  </div>
</div>
