<div class="headline">
  <h1>Join 360</h1>
  <div class="headline_separator"></div>
  <span>Key Metrics at a Glance</span>
</div>
<div class="content">
  <div class="content_cards">
    <div class="content_cards_row">
      <div class="content_single-card">1</div>
      <div class="content_single-card">2</div>
    </div>
    <div class="content_single-card">3 lange</div>
    <div class="content_cards_row">
      <div class="content_single-card">4</div>
      <div class="content_single-card">5</div>
      <div class="content_single-card">6</div>
    </div>
  </div>
  <div class="content_greeting">
    <div>
      <h2>Good morning</h2>
      <h3>Name</h3>
    </div>
  </div>
</div>
