<div class="add-task_header">
<h1>Add Task</h1>
<button *ngIf="board" (click)="hideTask()"><img src="img/add_task/close.svg" alt="" ></button>
</div>
<form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()" (click)="closeContactList()">
  <div class="form-content">
   
    <div>
       <!-- <app-title-description [formGroup]="textFormGroup"></app-title-description>  -->
      <label for="title">Title<span class="required">*</span></label>
      <input
      type="text"
      id="title"
      placeholder="Enter a title"
      class="input-field"
      [ngClass]="{ 'input-field--required': isFieldInvalid('title') }"
      formControlName="title"
    />
    
      <label
        for="title"
        [ngClass]="{ 'required-text': isFieldInvalid('title') }"    
        class="empty-field"
      >
        {{addTaskForm.get("title")?.touched && addTaskForm.get("title")?.invalid ? "This field is required": ""}}
      </label>

      <label for="description">Description</label>
      <textarea
        id="description"
        class="input-field description"
        placeholder="Enter a Description"
        rows="3"
        cols="25"
        formControlName="description"
      ></textarea>

      <label for="assigned">Assigned to<span class="required">*</span></label>
      <div 
        class="input-field contact-field"
        [ngClass]="{ 'input-field--required': isFieldInvalid('assigned') }"
        (click)="$event.stopPropagation()">
        <input
          (focus)="showContactList = true"
          type="text"
          id="assigned"
          placeholder="Select contacts to assign"
          class="font-black"
          #assingedInput
          (keyup)="filterContacts(assingedInput.value)"
        />
        <button type="button" (click)="toggleContactList()"> 
          <img  [src]="'img/add_task/arrow_drop_down.svg'" [ngClass]="{ 'rotated': showContactList }" alt=""/>
        </button>
       
        <div *ngIf="showContactList" class="contact-list">
          <ul *ngFor="let contact of filteredContacts let i = index" >
            <li 
              class="single-contact" 
              [ngClass]="{'single-contact--chosen' : chosen[i] }" 
              (click)="chooseContact(contact.name, contact.color, contact.id, i, contact.shortcut)" >
              <div>
                <span class="shortcut--small" [style.backgroundColor]="contact.color">{{contact.shortcut }}</span> 
                <span>{{contact.name}}</span>
              </div>
              <img [src]="(chosen[i]) ? 'img/add_task/check_button_checked.svg' : 'img/add_task/check_button.svg'" alt="">
            </li>
          </ul>
        </div>
        <div class="chosen-contacts">
          <ul *ngFor="let chosenContact of assignedTo.value">
            <li class="single-contact"> 
              <span class="shortcut--small" [style.backgroundColor]="chosenContact.color">{{ chosenContact.shortcut }}</span> 
              <span>{{chosenContact.name}}</span></li>
          </ul>
        </div>
      </div>
    
      <label
        for="assigned"
        [ngClass]="{ 'required-text': isFieldInvalid('assigned') }"   
        class="empty-field"
      >
        {{ addTaskForm.get("assigned")?.touched && addTaskForm.get("assigned")?.invalid ? "This field is required" : ""}}
      </label>
    </div>

    <div class="separator"></div>

    <div>
      <label for="dueDate">Due date<span class="required">*</span></label>

        <mat-form-field appearance="fill" class="input-field--nopadding"
        [ngClass]="{ 'input-field--required': isFieldInvalid('dueDate') }"> 
           <mat-label>DD/MM/YYYY</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            id="dueDate"
            formControlName="dueDate"
          />
          <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
         </mat-form-field>     
      <label
        for="dueDate"
        [ngClass]="{ 'required-text': isFieldInvalid('dueDate') }"   
        class="empty-field"
      >
        {{addTaskForm.get("dueDate")?.touched &&addTaskForm.get("dueDate")?.invalid ? "This field is required" : ""}}
      </label>

      <span>Prio</span>
      <app-priority formControlName="priority"></app-priority>

      <label for="category">Category<span class="required">*</span></label>
      <div class="category-field">
        <button 
          type="button"
          class="input-field btn-category"
          [ngClass]="{ 'input-field--required': isFieldInvalid('category') && !haveCategory }"
          (click)="toggleCategorySelector()"
          >
          <span >{{ textCategory}}</span>
          <img src="img/add_task/arrow_drop_down.svg" alt="" />
        </button>
        <label
          for="category"
          class="empty-field"
          [ngClass]="{ 'required-text': isFieldInvalid('category')}">
          {{ isFieldInvalid('category') && !haveCategory ? "This field is required" : "" }}
      </label>
      <div class="category-selector" *ngIf="showCategorySelector">
        <button type="button" (click)="chooseCategory('Technical Task')">Technical Task</button>
        <button type="button" (click)="chooseCategory('User Story')">User Story</button>
      </div>
      </div>
   

      <label for="subtasks">Subtasks</label>
      <div class="subtask">
        <div  class="input-field">
          <input
            type="text"
            id="subtasks"
            placeholder="Add new subtask"
            #subtasksInput
            (keyup)="showEditMode(subtasksInput)"
            (keydown.enter)="addSubtask( $event, subtasksInput)"
          />
          <img class="add-subtask" (click)="subtasksInput.focus()" src="img/plus.svg" alt="" *ngIf="subtaskInputText.length === 0">
          <div class="subtasks-editor" *ngIf="subtaskInputText.length > 0">
            <img src="img/add_task/close.svg" alt="clear Subtask" (click)="clearInput(subtasksInput) ">
            <div class="separator"></div>
            <img src="img/add_task/check_black.svg" alt="confirm Subatask" (click)="addSubtask($event, subtasksInput )">
          </div>
        </div>

        <div class="subtask-list">
          <ul>
            <li *ngFor="let subtask of subtasks.value; let i = index">
      
              <div class="subtask-list_item" *ngIf="prepareSubtask !== i">
                <span>{{ subtask.title }}</span>
                <div>
                  <button type="button" (click)="editSubtask(i)">
                    <img src="img/edit.svg" alt="edit">
                  </button>
                  <button type="button" (click)="deleteSubtask(i)">
                    <img src="img/delete.svg" alt="delete">
                  </button>
                </div>
              </div>
        
              <div class="input-field" *ngIf="prepareSubtask === i">
                <input 
                  type="text" 
                  name="prepareSubtask" 
                  id="prepareSubtask" 
                  #subtaskInput
                  [value]="subtask.title"
                  (keydown.enter)="changeSubtask($event, i, subtaskInput)"
                >
                <div class="subtasks-editor">
                  <button type="button" (click)="deleteSubtask(i)">
                    <img src="img/delete.svg" alt="cancel">
                  </button>
                  <div class="separator"></div>
                  <button type="button" (click)="changeSubtask($event, i, subtaskInput)">
                    <img src="img/add_task/check_black.svg" alt="confirm">
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>

  <div class="submit-field">
    <span>
      <span class="required">*</span>
      This field is required
    </span>
    <div>
      <button class="btn-secondary--default" type="button" (click)="clearForm()">Clear X</button>
      <button class="btn-primary--default" type="submit">Create Task <img src="img/check.svg" alt=""></button>
    </div>
  </div>
</form>
