@import "./../../../../assets/styles/mixins.scss";
.add-task_header{
  @include arrangement($jc: space-between);
  width: 100%;
  >button{
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    @include arrangement();
    &:hover{
      background-color: #47494d25;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: calc(100% - 74px);
  justify-content: space-around;
  > div {
    display: flex;
    width: 100%;
    gap: 30px;
  }
}

.required {
  color: red;
}

.required-text {
  color: red;
  font-size: 12px;
  min-height: 20px;
  display: flex;
  align-items: start;
}

.empty-field {
  display: flex;
  min-height: 20px;
}

.assigned-to {
  display: flex;
}

.prio {
  margin-bottom: 20px;
}

.btn-prio {
  display: flex;
  gap: 10px;
  .medium {
    background-color: #ffa800;
    color: white;
  }
  .urgent {
    background-color: #ff3d00;
    color: white;
  }
  .low {
    background-color: #7ae229;
    color: white;
  }
  > button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 140px;
    font-size: 20px;
    padding: 16px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ffffff;
    &:hover {
      box-shadow: 0 4px 4px #00000040;
      cursor: pointer;
    }
  }
}

.description {
  margin-bottom: 20px;
}

.submit-field {
  display: flex;
  width: 100%;
  justify-content: space-between;
  > div {
    display: flex;
    gap: 10px;
    > button {
      font-size: 20px;
      &:first-child {
        font-weight: 400;
      }
    }
  }
}

.font-black {
  &::placeholder {
    color: black;
  }
}

.category-field {
  position: relative;
  .btn-category {
    cursor: pointer;
    font-size: 20px;
  }
  .category-selector {
    position: absolute;
    left: 0;
    top: 45px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    z-index: 100;
    > button {
      font-size: 20px;
      padding: 10px;
      width: 100%;
      display: flex;
      justify-content: start;
      &:hover {
        cursor: pointer;
        background-color: #d1d1d160;
      }
    }
  }
}
.contact-field {
  position: relative;
  z-index: 4;
  > button {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    &:hover {
      background-color: #0C2E621F;
     
      cursor: pointer;
    }
  }
  .contact-list {
    ul {
      list-style: none;
      padding: 0;
      li {
        > div {
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }
    }
    position: absolute;
    z-index: 1;
    top: 45px;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    max-height: 200px;
    overflow-y: auto;
    .single-contact {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      padding: 10px 10px;
      border-radius: 10px;
      margin-bottom: 8px;
      &--chosen {
        @extend .single-contact;
        background-color: #47494d;
        color: white;
      }
      &:hover {
        cursor: pointer;
        background-color: #eeeeee;
        color: black;
      }
    }
  }
  .chosen-contacts {
    position: absolute;
    top: 60px;
    left: 0;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    ul {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-bottom: 10px;
      }
    }
  }
}
.subtask {
  position: relative;
  .add-subtask {
    cursor: pointer;
  }
  .subtask-list {
    position: absolute;
    width: 100%;
    .subtask-list_item {
      padding: 5px 10px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        cursor: pointer;
      }
    }
  }
}

.rotated {
  transform: rotate(180deg);
}
