<h1>Add Task</h1>
<form>
  <div>
    <div>
      <div>
        <label for="title">Title<span class="requierd">*</span></label>
        <input
          type="text"
          name="title"
          id="title"
          placeholder="Enter a title"
          class="input-field"
        />
        <label for="title" *ngIf="required" class="requierd-text">
          This field is required</label
        >
        <label for="title" *ngIf="!required" class="empty-field"></label>
      </div>
      <label for="description">Description</label>
      <textarea
        name="description"
        id="description"
        class="input-field description"
        placeholder="Enter a Description"
        rows="3"
        cols="25"
      ></textarea>
      <label for="assigned">Assigned to</label>
      <div class="input-field">
        <input
          type="search"
          name="assigned"
          id="assigned"
          placeholder="Select contacts to assign"
          class="font-black"
        />
        <img src="img/arrow_drop_down.svg" alt="" />
      </div>
    </div>
    <div class="separator"></div>
    <div>
      <div >
        <label for="date">Due date<span class="requierd">*</span></label>
        <div class="input-field">
          <input type="text" placeholder="dd/m/yyyy" />
          <img src="img/add_task/calender.svg" alt="">
        </div>
       
        <label for="date" *ngIf="required" class="requierd-text">
          This field is required</label
        >
        <label for="date" *ngIf="!required" class="empty-field"></label>
      </div>
      <div class="prio">
        <span>Prio</span>
        <div class="btn-prio">
          <button>Urgent <img src="img/add_task/urgent.svg" alt="" /></button>
          <button>Medium <img src="img/add_task/medium.svg" alt="" /></button>
          <button>Low <img src="img/add_task/low.svg" alt="" /></button>
        </div>
      </div>
      <div>
        <label for="category">Category<span class="requierd">*</span></label>
        <div class="input-field">
          <input
            type="search"
            name="category"
            id="category"
            placeholder="Select task category"
            class="font-black"
          />
          <img src="img/arrow_drop_down.svg" alt="" />
        </div>
        <label for="date" *ngIf="required" class="requierd-text">
          This field is required</label
        >
        <label for="date" *ngIf="!required" class="empty-field"></label>
      </div>
      <label for="subtasks">Subtasks</label>
      <input
        type="text"
        name="subtasks"
        id="subtasks"
        placeholder="Add new subtask"
        class="input-field"
      />
    </div>
  </div>
  <div class="submit-field">
    <span>
      <span class="requierd">*</span>
      This field is required
    </span>
    <div>
      <button class="btn-secondary--default">Clear X</button>
      <button class="btn-primary--default">Create Task </button>
    </div>
  
  </div>
</form>
