@import "./../../../assets/styles/mixins.scss";

.main-container {
  display: flex;
  height: 100vh;
  width: 100%;
  .main-container_nav_side {
    width: 230px;
    background-color: #2a3647;
    @include arrangement($fd: column, $jc: space-between);
    padding: 32px 0;
    .main-container_nav_side_navigation {
      @include arrangement($fd: column, $ai: center);
      width: 100%;
      .logo {
        width: 100px;
        height: 120px;
        padding: 42px 0;
      }
      a {
        width: 100%;
        color: #cdcdcd;
        font-weight: 400;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 16px 0 16px 25%;
        box-sizing: border-box;
        &:hover {
          background-color: #091931;
        }
      }
    }
    .main-container_nav_side_footer {
      @include arrangement($fd: column, $ai: start, $g: 16px);
      a {
        color: #a8a8a8;
        text-decoration: none;
        &:hover {
          transform: scale(1.1);
          text-decoration: underline;
        }
      }
    }
  }
}

.chosen {
  background-color: #091931;
}

.main-container_content {
  width: 100%;
  max-height: 100vh;

  .main-container_content_nav_header {
    background-color: white;
    box-shadow: 0px 4px 4px #0000001a;
    padding: 20px 40px 20px 10%;
    @include arrangement($jc: space-between);
    box-sizing: border-box;
    width: 100%;
    > div {
      display: flex;
      gap: 8px;
      align-items: center;
    }
    > span {
      font-size: 20px;
    }
    .menu {
      position: relative;
      display: flex;
      > button {
        @include arrangement();
        border: 3px solid black;
        border-radius: 50%;
        padding: 10px;
        font-size: 14px;
        font-weight: 700;
        color: #29abe2;
        height: 40px;
        width: 40px;
        cursor: pointer;
      }
      .menu-navigation {
        position: absolute;
        top: 40px;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: #2a3647;
        border-radius: 20px 0 20px 20px;
        padding: 10px;
        box-sizing: border-box;
        a {
          padding: 8px 16px;
          color: #cdcdcd;
          text-decoration: none;
          white-space: nowrap;
        }
      }
    }
  }
}

.main-container_content_routes{
  display: flex;
  height: calc(100% - 80px);
}

.main-container_nav_bottom_navigation{
  display: none;
  background-color: #2a3647;
  justify-content: space-around;
  position: sticky;
  bottom: 0;
  >a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
  }
}

.header-logo{
  display: none;
}
.help-btn--responsive{
  display: none;
}

@media screen and (max-width: $mediaWidth) {
  .main-container_content_routes{
    height: auto;
    flex:1;
    overflow: hidden;
  }
  .main-container_content{
    display: flex;
    flex-direction: column;
  }
  .main-container_nav_side{
    display: none !important;
  }
  .main-container_nav_bottom_navigation{
    display: flex;
  }
  .slogan{
    display: none !important;
  }
  .header-logo{
    display: block;
  }
  .help-btn{
    display: none;
  }
  .help-btn--responsive{
    display: block;
  }

}
