<div class="main-container" (click)="closePopup()">
  <div class="main-container_nav_side" *ngIf="innerWidth > 921">
    <div class="main-container_nav_side_navigation">
      <img class="logo" src="img/join_logo.svg" alt="" />
      <a
      [routerLink]="'/main/' + link.img" [queryParams]="{ UID: userDataService.currentUserID }"
        *ngFor="let link of nameLinks; index as i"
        [ngClass]="{ chosen: isActive(link.img) }"
      >
        <img [src]="'img/icon_' + link.img + '.svg'" alt="icon" />
        <span>{{ link.name }}</span>
      </a>
    </div>
    <div class="main-container_nav_side_footer">
      <a [routerLink]="['/main/privacy_policy']" [queryParams]="{ UID: userDataService.currentUserID }">Privacy Policy</a>
      <a [routerLink]="['/main/legal_notice']" [queryParams]="{ UID: userDataService.currentUserID }">Legal notice</a>
    </div>
  </div>
  <div class="main-container_content">
    <div class="main-container_content_nav_header">
      <span>Kanban Project Management Tool</span>
      <div>
        <a [routerLink]="['/main/help']" [queryParams]="{ UID: userDataService.currentUserID }"><img src="img/help.svg" alt="" /></a>
        <div class="menu">
          <button (click)="toggleMenu($event)">{{initials}}</button>
            <div *ngIf="showMenu" class="menu-navigation" (click)="notClose($event)">
              <a [routerLink]="['/main/privacy_policy']" [queryParams]="{ UID: userDataService.currentUserID }" (click)="toggleMenu($event)">Privacy Policy</a>
              <a [routerLink]="['/main/legal_notice']" [queryParams]="{ UID: userDataService.currentUserID }" (click)="toggleMenu($event)">Legal notice</a>
              <a [routerLink]="['/']">Log out</a>
            </div>
        </div>
      </div>
    </div>
    <div class="main-container_content_routes">
      <router-outlet></router-outlet>
    </div>
    <div class="main-container_nav_bottom_navigation" *ngIf="innerWidth <= 920">
      <a
      [routerLink]="'/main/' + link.img" [queryParams]="{ UID: userDataService.currentUserID }"
        *ngFor="let link of nameLinks; index as i"
        [ngClass]="{ chosen: isActive(link.img) }"
      >
        <img [src]="'img/icon_' + link.img + '.svg'" alt="icon" />
        <span>{{ link.name }}</span>
      </a>
    </div>
  </div>
</div>
