@import "./../../../styles.scss";

.main-container {
  display: flex;
  height: 100vh;
  width: 100%;
  .main-container_nav_side {
    width: 230px;
    background-color: #2a3647;
    @include arrangement($fd: column, $jc: space-between);
    padding: 32px 0;
    .main-container_nav_side_navigation {
      @include arrangement($fd: column, $ai: center);
      width: 100%;
      .logo {
        width: 100px;
        height: 120px;
        padding: 42px 0;
      }
      a {
        width: 100%;
        color: #cdcdcd;
        font-weight: 400;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 16px 0 16px 25%;
        box-sizing: border-box;
        &:hover {
          background-color: #091931;
        }
      }
    }
    .main-container_nav_side_footer {
      @include arrangement($fd: column, $ai: start, $g: 16px);
      a {
        color: #a8a8a8;
        text-decoration: none;
        &:hover {
          transform: scale(1.1);
          text-decoration: underline;
        }
      }
    }
  }
}

.chosen {
  background-color: #091931;
}

.main-container_content {
  width: 100%;
  .main-container_content_nav_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .menu {
      position: relative;
      display: flex;
      .menu-navigation {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #2a3647;
        border-radius: 20px 0 20px 20px;
        padding: 10px;
        box-sizing: border-box;
        a {
          padding: 8px 16px;
          color: #cdcdcd;
          text-decoration: none;
        }
      }
    }
  }
}

