@import './assets/styles/font.scss';
@import './assets/styles/buttons.scss';

@mixin arrangement($d:flex, $jc:center, $ai:center, $g:0, $fd:unset){
  display: $d;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
  flex-direction: $fd;
}

* {
  margin: 0;
}

.max-width {
  max-width: 1440px;
}

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: #f6f7f8;
  min-height: 100vh;
  margin: 0;
  cursor: default;
}

h1{
  font-size: 61px;
  font-weight: 700;
}

input, textarea{
  border: none;
  background-color: transparent;
  font-size: 20px;
  &::placeholder{
    color: #D1D1D1;
    font-family: 'inter', Arial, Helvetica, sans-serif;
  }
  &:focus{
    outline: none;
  }
}

.input-field{
  background-color: white;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  padding: 12px 21px;
  box-sizing: border-box;
  @include arrangement($d:flex, $jc:space-between);
  width: 100%;
}
