button{
  background-color: transparent;
  border: none;
}

@mixin btn {
    border: none;
    border-radius: 8px;
    padding: 15px 24px;
    font-weight: 700;
    font-size: 21px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-primary {
    @include btn;
    color: #FFFFFF;
    &--default {
      @extend .btn-primary;
      background-color: #2A3647;
      >img{
        margin-left: 10px;
      }
      &:hover {
        transition: all ease-in 100ms;
        background-color: #29ABE2;
      }
    }
    &--click {
      @extend .btn-primary;
      background-color: #091931;
    }
  
    @media (max-width: 450px) {
      padding: 8px 18px;
    }
  }


  .btn-secondary {
    @include btn;
    color: #2A3647;
    
    &--default {
      @extend .btn-secondary;
      background-color: #FFFFFF;
      border: 1px solid #2A3647;
     
      &:hover {
        transition: all ease-in 100ms;
        color: #29ABE2;
        border: 1px solid #29ABE2;
      }
    }
    &--click {
      @extend .btn-secondary;
      color: #091931;
      border: 1px solid #091931
    }
  
    @media (max-width: 450px) {
      padding: 8px 18px;
    }
  }

  .btn-prio {
    display: flex;
    gap: 10px;
    .medium {
      background-color: #ffa800;
      color: white;
    }
    .urgent {
      background-color: #ff3d00;
      color: white;
    }
    .low {
      background-color: #7ae229;
      color: white;
    }
    > button {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      min-width: clamp(3rem, 4vw, 9rem);
      font-size: 20px;
      padding: 16px 10px;
      box-sizing: border-box;
      border-radius: 10px;
      background-color: #ffffff;
      &:hover {
        box-shadow: 0 4px 4px #00000040;
        cursor: pointer;
      }
    }
  }