@mixin btn {
    border: none;
    border-radius: 8px;
    padding: 15px 24px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .btn-primary {
    @include btn;
    color: #FFFFFF;
    &--default {
      @extend .btn-primary;
      background-color: #2A3647;
      &:hover {
        transition: all ease-in 100ms;
        background-color: #29ABE2;
      }
    }
    &--click {
      @extend .btn-primary;
      background-color: #091931;
    }
  
    @media (max-width: 450px) {
      padding: 8px 18px;
    }
  }


  .btn-secondary {
    @include btn;
    color: #2A3647;
    
    &--default {
      @extend .btn-secondary;
      background-color: #FFFFFF;
      border: 1px solid #2A3647;
      &:hover {
        transition: all ease-in 100ms;
        color: #29ABE2;
        border: 1px solid #29ABE2;
      }
    }
    &--click {
      @extend .btn-secondary;
      color: #091931;
      border: 1px solid #091931
    }
  
    @media (max-width: 450px) {
      padding: 8px 18px;
    }
  }