.c-b {
  color: #29abe2;
}

.content-title {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 76px;
}

.s-b {
  justify-content: space-between;
}

h6 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}
p {
  margin: 8px;
}
h3 {
  margin: 8px;
}

button{
    cursor: pointer;
}